include README.md
include LICENSE 
include src/flask_migrate/templates/flask/*
include src/flask_migrate/templates/flask-multidb/*
include src/flask_migrate/templates/aioflask/*
include src/flask_migrate/templates/aioflask-multidb/*
